*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: radial-gradient(ellipse farthest-corner at center top,
    #4C5673 0%, #272F49 100%);
    color: white;
    font-family: roboto;
    min-height: 100vh;
}

header, form{
    min-height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* h1{
    color: #676BF6;
} */
.form-background{
position: absolute;
top: 50%;
left: 50%;
transform: translate( -50%, -50%);
width: 520px;
height: 85vh;
background: radial-gradient(ellipse farthest-corner at center top, #535E80 0%,#3F4A6B 100%);
border-radius: 30px;
box-shadow: 0 7px 30px rgba(26, 26, 26, 0.3);
}

.cover-image{
    /* background: radial-gradient(ellipse farthest-corner at center top, #676BF6 0%,#879AF8 100%); */
    height: 180px;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
   position: relative;
}
.cover-image h3 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Nunito', sans-serif;
    text-transform: uppercase;
    font-size: 2.8rem;
    z-index: 10;
    font-weight: 700px;
}

form input[type='text'] {
    padding: 0 5px;
    font-weight: 1;
    font-size: 1.2rem;
    color: white;
    outline: none;
    font-family: Verdana;
}
form .todo-input {
    width: 300px;
    height: 40px;
    background-color: #535E80;
    border-left: transparent ;
    border-right: transparent ;

      } 
/* form {
    margin-top: 400px;
}    */
 .todo-button{
    font-size: 20px;
    color: #8e979c;
    border: none;
    margin-left: 15px;
    background: transparent;
    cursor: pointer;
    

}
.todo-button {
color: #87C2F8;
}
.fas:hover{
    
    transform: scale(1.3);
    transition: opacity 300ms cubic-bezier(0.2, 0, 0, 1), transform 400ms cubic-bezier(0.3, 0, 0, 1.4);
    }

.input-background{
    margin-top: 20px;
    margin-left: 35px;
    width: 450px;
    height:340px;
    overflow-x: scroll;
    overflow-y: auto;
}

.todo-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.todo-list{
    min-width: 30%;
    list-style: none;
}
.todo{
    margin: 0.5rem;
    border-bottom: 1px solid #8e979c;
    color: #fefefe;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 400px;
    transition: all 0.5s ease;
}
.todo li{
    flex: 1;
    word-break: break-all;
}
.trash-btn, .complete-btn{
background: transparent;
border: none;
padding: 0.9rem;
cursor: pointer;
font-size: 1rem;
}
.complete-btn {
    color: #87C2F8;
}
.trash-btn{
    color: #E17195;
}
.todo-item{
   padding: 0rem 0.5rem;
}
.fa-trash, .fa-check{
    pointer-events: none;
}
.completed{
    text-decoration: line-through;
    opacity:0.4;
}
.fall{
    background: #3F4A6B;
    transform: translateY(5rem);
    opacity: 0;
    border:none;

}
select{
    /* -webkit-appearance: none;
    -moz-appearance: none; */
    border: none;
    outline: none;
}
.select{
    position: absolute;
    margin-left: 300px;
    padding-bottom: 10px;
    padding-top: 20px;
    bottom: 0;
    right: 0;
    padding-right: 30px;
    

}

select{
    color: #8e979c;
    background: transparent;
    width: 9rem;
    height: 28px;
    cursor: pointer;
    font-size: 1.2rem ;
    border-bottom: 1px solid #8e979c;
    

}
select:hover {
    color: #87C2F8;
    border-bottom: 1px solid #87C2F8;
    transition: all 0.3s ease;
}
#myProgress {
    width: 100%;
    background-color: grey;
  }
  
 footer{
    position: absolute;
    top: 95%;
    left: 50%;
    transform: translate( -50%, -50%);
    color: #535E80;
     
 }
